.theme-theme1204 {
	height: 423px;
    padding: 0;
    position: relative;
    width: 100%;
}
.theme-theme1204 .nivoSlider {
	position:relative;
    margin-bottom:50px;
	overflow:hidden;
}
/* The slices and boxes in the Slider */
.theme-theme1204 .nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
}
.theme-theme1204 .nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */

.theme-theme1204 .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-theme1204 .nivoSlider a {
	border:0;
	display:block;
}

.theme-theme1204 .nivo-controlNav {
	bottom: 19px;
    height: 16px;
    left: 13px;
    position: absolute;
    width: 900px;
}
.theme-theme1204 .nivo-controlNav a {
	background: url("/huaxin/img/slideshow_points.png") no-repeat 0 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block !important;
    font-size: 0;
    height: 16px;
    margin-right: 6px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 16px;
    z-index: 99;
}
.theme-theme1204 .nivo-controlNav a:hover,
.theme-theme1204 .nivo-controlNav a.active {
	background-position:0 -16px;
}

.theme-theme1204 .nivo-directionNav a {
	display:none;
}
.theme-theme1204 a.nivo-nextNav {
}
.theme-theme1204 a.nivo-prevNav {
}

.theme-theme1204 .nivo-caption {
	background: #000000;
    color: #FFFFFF;
	font-family:'Lato',arial,serif;
    height: 211px;
    left: -450px;
    padding: 0 50px 0 32px;
    position: absolute;
    top: 121px;
    width: 317px;
    z-index: 89;
}
.theme-theme1204 .nivo-caption a {
    color:#fff;
    text-decoration:none;
}
.theme-theme1204 .nivo-caption a:hover {
    color:#fff;
}
.theme-theme1204 .nivo-caption p {
	color:#919293;
    margin:0;
}
.theme-theme1204 .nivo-caption h2 {
    color: #FFFFFF;
    font-size: 1.85em;
    line-height: 1.25em;
    margin-bottom: 0.6em;
    padding: 32px 0 0;
}
.theme-theme1204 .nivo-html-caption {
	display:none;
}